/* _*-*_ GLOBAL _*-*_ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    &::before, &::after {
        box-sizing: border-box;
    }
}
/* _-_ VARIABLES _-_ */
$dark: #111111;
$light: #F8F8FF;
$red: #A00005;
$angle: 120deg;

@mixin coolBtn ($p1, $p2, $p3) {
    color: $p1;
    background: $p2;
    border: 1px solid $p3; 
}

/* _-_ ANIMATIONS _-_ */
@keyframes drop {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fromLeft {
    0% {
        transform: translateX(-50rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(30rem);
    }
    100% {
        transform: translateX(0rem);
    }
}


html {
    scroll-behavior: smooth;
    body {
        line-height: 1;
    }
}

h1 {
    font-size: 4.5rem;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
}

hr {
    border: 2px solid $red;
    color: $red;
    width: 14rem;
    transform: skew(-30deg);
    opacity: 1;
    margin: 0.2rem auto 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.4;
    color: $dark;
}

a {
    text-decoration: none;
}

.section-heading {
    width: 100%;
    margin-bottom: 1.5em;
    border-top: 1px solid $light;
    h2 {
        color: $red;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 2.5rem;
        width: 50%;
    }
    &.justify-content-end {
        background: linear-gradient($angle, transparent 50%, $dark 50%);
        h2 {
            padding: 0.4em 0.4em 0 1.5em;
        }
    }
    &.justify-content-start {
        background: linear-gradient($angle, $dark 50%, transparent 50%);
        h2 {
            padding: 0.4em 1.5em 0 0.4em;
            text-align: right;
        }
    }
}

.my-btn {
    padding: 0.5em 0.5em 0.2em 1.5em;
    width: 14em;
    border-radius: 0;
    clip-path: polygon(11% 0%, 100% 0%, 100% 100%, 0% 100%);
    font: {
        size: 1.1rem;
        family: 'Josefin Sans', sans-serif;
    }
}

.active-nav {
    color: $dark !important;
    border-bottom: 2px solid $red !important;
    background: $light;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.my-bg-light {
    background: $light;
}

.my-bg-dark {
    background: $dark;
}

.scrolled {
    background: $dark !important;
}

.hero {
    width: 100%;
    height: 60vh;
}

/* _-_ MODAL _-_ */
#staticBackdrop, #staticBackdrop2 {
    .modal-content {
        border-radius: 0;
        .modal-header {
            h5 {
                color: $dark;
                font-family: 'Josefin Sans', sans-serif;
                width: 100%;
                margin-bottom: -0.4rem;
            }
            .btn-close {
                margin: -0.5rem;
                background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a00005'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
                &:focus {
                    box-shadow: none;    
                }
            }
        }
        .modal-body {
            form {
                .form-floating {
                    input, textarea {
                        border-radius: 0;
                        border: none;
                        border-bottom: 1px solid $dark;
                        background: $light;
                        color: $dark;
                        font-family: 'Josefin Sans', sans-serif;
                        outline: none;
                        transition: 200ms ease-in-out;
                        font-size: 1.2rem;
                        &:focus {
                            border: none;
                            border-bottom: 3px solid $dark;
                            box-shadow: 
                                rgba($dark, 0.1) 0 0.3rem 1rem, 
                                rgba($dark, 0.1) 0 -0.3rem 1rem; 
                        }
                    }
                    label {
                        font-family: 'Josefin Sans', sans-serif;
                        color: $dark;
                    }
                    textarea {
                        resize: none;
                        height: 10rem;
                    }
                }
            }
        }
        .modal-footer {
            button {
                @include coolBtn($dark, $light, $dark);
                &:hover {
                    @include coolBtn($red, $light, $red);
                }
            }
            input {
                @include coolBtn($light, $dark, $dark);
                &:hover {
                    @include coolBtn($dark, $light, $dark);
                }
            }
        }
    }
}
/* _-_ MODAL _-_ */

/* _*-*_ PAGE - HOME _*-*_ */
/* _-_ HOME - HEADER _-_ */
header {
    nav {
        transition: background 250ms ease-in-out;
        img {
            width: 16rem;
            transition: 200ms ease-in-out;
            &:hover {
                filter: grayscale(100%) opacity(75%);
            }
        }
        .navbar-toggler {
            border-radius: 0;
            border: none !important;
            i {
                color: $light;
                opacity: 0.9;
                font-size: 2.5rem;
            }
            &:focus {
                color: transparent;
            }
        }
        #navbarNav {
            a {
                color: $light;
                padding: 0.5em;
                width: 10em;
                border-bottom: 2px solid $light;
                font-family: 'Josefin Sans', sans-serif;
                &:hover {
                    color: $dark !important;
                    border-bottom: 2px solid $red !important;
                    background: $light;
                }
            }
        }
    }
}
/* _-_ HOME - MAIN _-_ */
main {
    #intro {
        height: 100vh;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: linear-gradient($angle, $light 0% 27rem, transparent 27rem 100%);
            z-index: 0;
        }
        video {
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: brightness(50%);
        }
        .wrapper {
            width: 100%;
            #intro-desc {
                left: 4.9rem;
                top: 14.5rem;
                z-index: 1;
                #intro-title {
                    max-width: 42rem;
                    h1 {
                        color: transparent;
                        background: linear-gradient($angle, $dark 0% 15.5rem, $light 15.5rem 100%);
                        -webkit-text-stroke-width: 1px;
                        background-clip: text;
                        -webkit-background-clip: text;
                        span {
                            font-size: 3.2rem;     
                        }
                    }
                }
                #intro-btn {
                    width: 37rem;
                    padding: 1.2rem 1rem;
                    animation: fromLeft 500ms ease-in-out;
                    a {
                        @include coolBtn($light, $dark, $dark);
                        &:hover {
                            @include coolBtn($dark, $light, $dark);
                        }
                        &:last-of-type {
                            @include coolBtn($dark, $light, $dark);
                            &:hover {
                                @include coolBtn($red, $light, $red);
                            }
                        }
                    }
                    
                }
            }
            #intro-free {
                width: 22rem;
                padding: 1.2rem 3rem;
                bottom: 6rem;
                z-index: 1;
                animation: fromRight 500ms ease-in-out;
                p {
                    span {
                        font-size: 2.2rem;
                        font-family: 'Josefin Sans', sans-serif;
                        color: $red;
                    }
                }
                a {
                    @include coolBtn($light, $dark, $dark);
                    &:hover {
                        @include coolBtn($dark, $light, $dark); 
                    }
                }
            }
        }
    }
    #benefits {
        .row {
            article {
                img {
                    width: 30%;
                }
                h3 {
                    font-size: 1.8rem;
                    color: $dark;
                    font-family: 'Josefin Sans', sans-serif;
                }
            }
        }
    }
    #workout {
        background: url("../img/mirror-practice-dimmed.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        .row {
            article {
                h3 {
                    color: $light;
                    font-family: 'Josefin Sans', sans-serif;
                    margin-bottom: 1.5rem;
                }
                p {
                    padding: 1em 0;
                    color: $light;
                }
                a {
                    @include coolBtn($dark, $light, $light);
                    &:hover {
                        @include coolBtn($light, $dark, $dark);
                    }
                }
            }
        }
    }
    #membership {
        .wrapper {
            .row {
                article {
                    img {
                        height: 100%;
                        margin-left: -6rem;
                        object-fit: cover;
                    }
                    h3 {
                        color: $dark;
                        font-family: 'Josefin Sans', sans-serif;
                        margin-bottom: 1.5rem;
                    }
                    p {
                        padding: 1em 0;
                    }
                    a {
                        @include coolBtn($light, $dark, $dark);
                        &:hover {
                            @include coolBtn($dark, $light, $dark);
                        }
                    }
                }
            }
        }
    }
    #location {
        height: 60vh;
        #address {
            width: 100%;
            background: linear-gradient($angle, $dark 0% 40%, transparent 40% 100%);
            p {
                color: $light;
                span {
                    color: $red;
                }
                padding: 1.6rem 1rem 0.8rem;
                font-family: 'Josefin Sans', sans-serif;
            }
        }
    }
}
/* _-_ HOME - FOOTER _-_ */
footer {
    color: $light;
    background-color: $dark;
    border-top: 1px solid $light;
    p {
        line-height: 1; 
        color: $light;   
    }
    h6 {
        font-size: 1.3rem;
    }
    a {
        color: $red;
        text-decoration: none;
        font-weight: 700;
        font-family: 'Josefin Sans', sans-serif;
        transition: 200ms ease-in-out;
        &:hover {
            color: $light;
        }
    }
    hr {
        width: 22rem;
    }
    img {
        width: 12rem;
        transition: 200ms ease-in-out;
        &:hover {
            filter: grayscale(100%) opacity(75%);
        }
    }
    #socials {
        a {
            i {
                font-size: 2rem;
                padding: 0.1em;
            }
        }
    }
    #contact {
        i {
            color: $light;
        }
        p {
            &:last-of-type {
                a {
                    pointer-events: none;
                }
            }
        }
    }
    #copyright {
        p {
            font-size: 1rem;
            line-height: 1.2;
        }
    }
}

/* _*-*_ PAGE - WORKOUT _*-*_ */
/* _-_ WORKOUT - MAIN _-_ */
main {
    #hero-workout {
        background: url("../img/battle-rope.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        animation: appear 200ms ease-in-out;
        article {
            transform: translateY(-50%);
            h1 {
                background-color: $light;
                width: max-content;
                animation: drop 1s ease-in-out;
            }
        }
    }
    #workout-carousel {
        button.active {
            background-color: $light !important;
            border-bottom: 2px solid $red;
        }
        #carousel {
            .carousel-indicators {
                button {
                    background-color: $light;
                    width: 4rem;
                    height: 0.3rem;
                    transition: 200ms ease-in-out;
                    &:hover {
                        background-color: $red;  
                    }
                }  
            }
            .carousel-inner {
                .carousel-item {
                    .slide-desc {
                        background-color: $dark;
                        // height: 11.4rem;
                        h4 {
                            color: $light;
                            font-family: 'Josefin Sans', sans-serif;
                            font-size: 1.4rem;
                        }
                        p {
                            line-height: 1.2;
                            color: $light;
                        }
                    }
                }
            }
            .carousel-control-prev, .carousel-control-next {
                span {
                    filter: none;
                    width: 4rem;
                    height: 4rem;
                }
            }
            .carousel-control-prev-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a00005' %3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
            }
            .carousel-control-next-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a00005'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            }
        }
    }
    #why-boxing {
        h3 {
            color: $dark;
            font-family: 'Josefin Sans', sans-serif;
            margin-bottom: 1.5rem;
        }
    }
    #why-us {
        .section-heading {
            background: linear-gradient($angle, $light 50%, transparent 50%);
            border-top: 1px solid $dark;   
        }
        h3 {
            color: $light;
            font-family: 'Josefin Sans', sans-serif;
            margin-bottom: 1.5rem;
        }
        p {
            color: $light;
        }
    }
    #faq {
        span {
            color: $red;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.4rem;
        }
        .accordion {
            .accordion-button:not(.collapsed), .accordion-button:hover {
                color: $light;
                background-color: rgba($dark,  0.9);
                &::after {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f8f8ff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                }
            }
            button {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 1.5rem;
                &:focus {
                    border-color: none !important;
                    box-shadow: none;
                }
            }
            .accordion-body {
                font-size: 1.2rem;
                line-height: 1.2;
                span {
                    color: $dark;
                }
            }
        }   
    }
}

/* _*-*_ PAGE - MEMBERSHIP _*-*_ */
/* _-_ MEMBERSHIP - MAIN _-_ */
main {
    #hero-membership {
        background: url("../img/respect.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        animation: appear 200ms ease-in-out;
        article {
            transform: translateY(-50%);
            h1 {
                background-color: $light;
                width: max-content;
                animation: drop 1s ease-in-out;
            }
        }
    }
    #options {
        .section-heading {
            background: linear-gradient($angle, $light 50%, transparent 50%);
            border-top: 1px solid $dark;
        }
        .options-part {
            .card {
                border-radius: 0;
                border: 1px solid $dark;
                .card-body {
                    h2 {
                        color: $red;
                        font-family: 'Josefin Sans', sans-serif;
                    }
                    h3 {
                        font-size: 2rem;
                        font-family: 'Josefin Sans', sans-serif;
                        span {
                            font-size: 1.2rem;
                            padding: 0.1em;
                            font-family: 'Josefin Sans', sans-serif;
                        }
                        &#discounted {
                            width: max-content;
                            &::before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 50%;
                                width: 100%;
                                border-top: 2px solid rgba($red, 0.8);
                                transform: rotate(-20deg);
                            }
                            &::after {
                                content: '$199.';
                                position: absolute;
                                left: 0;
                                top: 0;
                                transform: translate(6.5rem, -1rem);
                                color: $dark;
                            }
                            span {
                                &::after {
                                    content: '99';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    transform: translate(10.8rem, -1rem);
                                    color: $dark;
                                }   
                            }
                        }
                    }
                    a {
                        color: $light;
                        border-radius: 0;
                        border: 1px solid $dark;
                        &:hover {
                            color: $dark;
                            background: $light;
                        }
                    }
                    .my-card-footer {
                        small {
                            line-height: 1.2;
                            i {
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
    }
    #member-benefits {
        img {
            height: 100%;
            object-fit: cover;
        }
        h3 {
            color: $dark;
            font-family: 'Josefin Sans', sans-serif;
            margin-bottom: 1.5rem;
        }
        p {
            padding: 1em 0;
        }
    }
}

/* _*-*_ PAGE - CONTACT _*-*_ */
/* _-_ CONTACT - MAIN _-_ */
main {
    #hero-contact {
        background: url("../img/speed-bag.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        animation: appear 200ms ease-in-out;
        article {
            transform: translateY(-50%);
            h1 {
                background-color: $light;
                width: max-content;
                animation: drop 1s ease-in-out;
            }
        }
    }
    #contact-form {
        #form-part {
            form {
                .form-floating {
                    input, textarea {
                        border-radius: 0;
                        border: none;
                        border-bottom: 1px solid $dark;
                        background: $light;
                        color: $dark;
                        font-family: 'Josefin Sans', sans-serif;
                        outline: none;
                        transition: 200ms ease-in-out;
                        font-size: 1.2rem;
                        &:focus {
                            border: none;
                            border-bottom: 3px solid $dark;
                            box-shadow: 
                                rgba($dark, 0.1) 0 0.3rem 1rem, 
                                rgba($dark, 0.1) 0 -0.3rem 1rem; 
                        }
                    }
                    label {
                        font-family: 'Josefin Sans', sans-serif;
                        color: $dark;
                    }
                    textarea {
                        resize: none;
                        height: 15rem;
                    }
                }
                button {
                    color: $light;
                    border: 1px solid $dark;
                    &:hover {
                        color: $dark;
                        background: $light;
                    }
                }
            }
        }
        #info-part {
            align-self: center;
            a {
                color: $red;
                font-weight: 700;
                font-family: 'Josefin Sans', sans-serif;
                transition: 200ms ease-in-out;
                &:hover {
                    color: $dark;
                }
            }
            i {
                color: $dark;
            }
            p {
                font-size: 1.5rem;
                &:last-of-type {
                    a {
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

/* _*-*_ RESPONSIVE _*-*_ */
@media screen and (max-width: 376px){
    :root{
      font-size: 13px;
    }
}

@media screen and (min-width: 769px){
    :root{
      font-size: 14px;
    }
}
  
@media screen and (min-width: 1025px){
    :root{
      font-size: 15px;
    }
}
  
@media screen and (min-width: 1441px){
    :root{
      font-size: 16px;
    }
}



@media screen and (max-height: 834px) and (min-width: 1300px) {
    main #intro {
        .wrapper #intro-desc {
            top: 12rem;
        }
        &::after {
            background: linear-gradient($angle, $light 0% 25.7rem, transparent 25.7rem 100%);  
        }
    }
}

@media screen and (max-height: 720px) and (min-width: 1300px) {
    main #intro {
        .wrapper {
            #intro-desc {
                top: 10rem;
            }
            
            #intro-free {
                bottom: 4rem;
            }
        }
        &::after {
            background: linear-gradient($angle, $light 0% 24.7rem, transparent 24.7rem 100%);
        }
    }
}

@media screen and (max-width: 1025px) {
    h1 {
        font-size: 4rem;
    }
    main #intro .wrapper #intro-desc #intro-title h1 span {
        font-size: 3rem;
    }
    .section-heading {
        h2 {
            font-size: 2.2rem;
            width: 60%;
        }
        &.justify-content-end {
            background: linear-gradient($angle, transparent 0% 40%, $dark 40% 100%);
        }
        &.justify-content-start {
            background: linear-gradient($angle, $dark 0% 60%, transparent 60% 100%);
        }
    }
    p, main #faq .accordion .accordion-body{
        font-size: 1rem;   
    }
    header nav.bg-transparent {
        background-color: $dark !important;
    }
    main #benefits .row article h3 {
        font-size: 1.5rem;
    }
    main #workout .row article h3, main #membership .wrapper .row article h3, main #member-benefits h3 {
        margin-bottom: 0rem;
    }
    main #why-us .section-heading, main #options .section-heading {
        background: linear-gradient(120deg, #F8F8FF 0% 60%, transparent 60% 100%);
    }
    main #faq .accordion button {
        font-size: 1.3rem;
    }
    main #contact-form #info-part p {
        font-size: 1.3rem;
    }
    footer #socials a i {
        font-size: 1.8rem;
    }
    main #workout-carousel #carousel .carousel-inner .carousel-item .slide-desc {
        height: 12rem;
    }
}

@media screen and (max-width: 992px) {
    .navbar > .container-fluid  {
        margin: 0 1.5rem !important;
    }
    header nav #navbarNav {
        margin: 0 !important;
        .navbar-nav {
            margin: 0 !important;
        }
        a {
            margin: 0 auto;
            width: 20rem;
        }
    } 
}

@media screen and (max-width: 769px) {
    h1 {
        font-size: 3rem;
    }
    main #intro {
        min-height: 600px;
        .wrapper {
            #intro-desc {
                top: 10rem;
                left: 4rem;
                #intro-title {
                    h1 {
                        background: linear-gradient(120deg, $dark 0% 11rem, $light 11rem 100%);
                        -webkit-text-stroke-width: 1px;
                        background-clip: text;
                        -webkit-background-clip: text;
                        span {
                            font-size: 2.5rem;
                        }
                    }
                }
                #intro-btn {
                    width: 30rem;
                    padding: 1rem 0.8rem;
                }
            }
            #intro-free {
                width: 20rem;
                padding: 0.8rem 1rem;
                bottom: 3rem;
                p {
                    line-height: 1.3;
                    span {
                        font-size: 1.7rem;
                    }
                }    
            }
        }
        &::after {
            background: linear-gradient($angle, $light 0% 19.5rem, transparent 19.5rem 100%);
        }
    }
    .my-btn{
        font-size: 0.9rem;
    }
    .section-heading {
        margin-bottom: 1.5rem !important;
        h2 {
            font-size: 2rem;
            width: 80%;
        }
        &.justify-content-end {
            background: linear-gradient($angle, transparent 0% 20%, $dark 20% 100%);
        }
        &.justify-content-start {
            background: linear-gradient($angle, $dark 0% 80%, transparent 80% 100%);
        }
    }
    main #why-us .section-heading, main #options .section-heading {
        background: linear-gradient(120deg, #F8F8FF 0% 80%, transparent 80% 100%);
    }
    main #benefits .row article img {
        width: 8rem;
    }
    main #location #address {
        background: linear-gradient(120deg, #111111 0% 60%, transparent 60% 100%);
        p {
            padding: 1.2rem 1rem 0.2rem;
        } 
    }
    .hero {
        height: 25rem;
    }
    main #hero-contact  {
        background-position: right;
    }
    main #workout-carousel #carousel {
        .carousel-inner .carousel-item .slide-desc {
            h4 {
                font-size: 1.2rem;
            }
            p {
                font-size: 0.9rem;
                padding: 0rem 0.5rem;
            }
        }
        .carousel-inner .carousel-item img {
            height: 250px;
            object-fit: cover;
        }
        .carousel-indicators {
            margin-bottom: 0.5rem;
            button {
                width: 2rem;
                height: 0.2rem;
            }
        }
        .carousel-control-prev span, .carousel-control-next span {
            width: 3rem;
            height: 3rem;
        }
    }
    main #faq .accordion button {
        font-size: 1.2rem;
    } 
    main #contact-form #info-part {
        margin-top: 2.5rem;
        text-align: center;
        padding: 0 1rem !important;
        p {
            margin-bottom: 0.5rem;
        }
    }

    footer {
        h6 {
            font-size: 1.2rem;
        }
        .row {
            padding: 0.8rem !important;
            #socials a i {
                font-size: 1.5rem;
            }
            #contact {
                p {
                    font-size: 0.9rem;
                }
            }
        }
        #copyright p {
            font-size: 0.8rem;
        }
    }
    main #workout-carousel #carousel .carousel-inner .carousel-item .slide-desc {
        height: 13rem;
    }
}

@media screen and (max-width: 426px) {
    .wrapper {
        width: 90%;
    }
    h1 {
        font-size: 2.5rem;
    }
    p, main #faq .accordion .accordion-body {
        font-size: 0.9rem;
    }
    header nav img {
        width: 12rem;
    }
    main #intro {
        min-height: 550px;
        .wrapper {
            #intro-desc {
                left: 2rem;
                #intro-title {
                    h1 {
                        background: linear-gradient(120deg, $dark 0% 7.8rem, $light 7.8rem 100%);
                        -webkit-text-stroke-width: 1px;
                        background-clip: text;
                        -webkit-background-clip: text;
                        span {
                            font-size: 2rem;
                        }
                    }
                }
                #intro-btn {
                    width: 22rem;
                    padding: 1rem 0rem;
                }
            }
            #intro-free {
                width: 17rem;
                padding: 0.8rem 0;
                bottom: 5rem;
                p {
                    line-height: 1.2;
                    span {
                        font-size: 1.4rem;
                    }
                }    
            }
        }
        &::after {
            background: linear-gradient($angle, $light 0% 14.5rem, transparent 14.5rem 100%);
        }
    }
    .my-btn {
        font-size: 0.8rem;
        width: 12.5em;
        padding: 0.5em 0.2em 0.2em 1.2em;
        &:last-of-type {
            margin-right: 0.5rem !important;
        }
    }
    .section-heading {
        h2 {
            font-size: 1.6rem;
            width: 100%;
            text-align: center !important;
        }
        &.justify-content-end {
            background: linear-gradient($angle, transparent 0% 10%, $dark 10% 100%);
            h2 {
                padding: 0.4em 0em 0em !important;
            }
        }
        &.justify-content-start {
            background: linear-gradient($angle, $dark 0% 90%, transparent 90% 100%);
            h2 {
                padding: 0.4em 0em 0em !important;
            }
        }
    }
    h3 {
        font-size: 1.3rem !important;
    }
    main #benefits .row article {
        img {
            width: 7rem;
        }
    }
    main #membership .wrapper .row article img {
        margin-left: 0;
    }
    main #location #address {
        background: linear-gradient(120deg, #111111 0% 90%, transparent 90% 100%);
        p {
            padding: 1rem 0.5rem 0.2rem;
        } 
    }
    .hero {
        height: 20rem;  
    }
    main #workout-carousel .wrapper .row {
        padding: 0rem 0rem 3rem !important;
    }
    main #workout-carousel #carousel .carousel-inner .carousel-item .slide-desc h4 {
        font-size: 1.1rem;
        padding: 0 0.5rem;
    }
    main #faq span {
        font-size: 1.2rem;
    }
    main #faq .accordion button {
        font-size: 1.1rem;
    }
    main #options .options-part .card .card-body h3 span {
        font-size: 0.8rem;
    }
    main #options .options-part .card .card-body h3#discounted::after {
        transform: translate(5rem, -1rem);
    }
    main #options .options-part .card .card-body h3#discounted span::after {
        transform: translate(8rem, -1rem);
    }
    main #workout-carousel #carousel .carousel-inner .carousel-item .slide-desc {
        height: 15rem;
    }
}

@media screen and (max-width: 376px) {
    main #intro {
        min-height: 500px;
        .wrapper  #intro-free {
            bottom: 6rem;
        }
    }
    main #workout-carousel #carousel .carousel-inner .carousel-item .slide-desc {
        height: 15.5rem;
    }
}