/* _*-*_ GLOBAL _*-*_ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* _-_ VARIABLES _-_ */
/* _-_ ANIMATIONS _-_ */
@-webkit-keyframes reveal {
  to {
    left: 100%;
  }
}
@keyframes reveal {
  to {
    left: 100%;
  }
}

@-webkit-keyframes swoosh {
  0%, 100% {
    -webkit-clip-path: polygon(100% 0, 81% 3%, 62% 4%, 40% 2%, 19% 1%, 0 2%, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 81% 3%, 62% 4%, 40% 2%, 19% 1%, 0 2%, 0 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 2%, 81% 1%, 60% 2%, 38% 4%, 19% 3%, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 2%, 81% 1%, 60% 2%, 38% 4%, 19% 3%, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes swoosh {
  0%, 100% {
    -webkit-clip-path: polygon(100% 0, 81% 3%, 62% 4%, 40% 2%, 19% 1%, 0 2%, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 81% 3%, 62% 4%, 40% 2%, 19% 1%, 0 2%, 0 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 2%, 81% 1%, 60% 2%, 38% 4%, 19% 3%, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 2%, 81% 1%, 60% 2%, 38% 4%, 19% 3%, 0 0, 0 100%, 100% 100%);
  }
}

@-webkit-keyframes goDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
  }
}

@keyframes goDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
  }
}

html {
  scroll-behavior: smooth;
}

html body {
  line-height: 1;
  background: #1D1D1F;
  color: #FFFAFA;
}

h1, h2 {
  font-family: 'Jura', Arial, sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
}

h2 {
  font-family: 'Jura', Arial, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  width: 20%;
  margin: 0 auto 2.5em;
  padding: 0.4em;
  border-right: 3px solid #FFFAFA;
  background: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

h2 span {
  color: #83EEFF;
  font-family: 'Jura', Arial, sans-serif;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* _*-*_ HEADER _*-*_ */
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

header nav ul {
  list-style-type: none;
  text-align: right;
  margin: 1.2rem auto;
}

header nav ul li {
  display: block;
}

header nav ul li a {
  text-decoration: none;
  color: #FFFAFA;
  display: block;
  padding: 0.3em;
  font-size: 1.2rem;
}

header nav .vr {
  border-right: 1px solid #83EEFF;
  height: 25%;
  width: 100%;
  position: relative;
  right: 50%;
}

/* _*-*_ MAIN _*-*_ */
#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

#intro #logo {
  position: absolute;
  width: 100%;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

#intro #logo a img {
  width: 6rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#intro #logo a img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#intro video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}

#intro #intro-desc {
  position: absolute;
  top: 25%;
  left: 16%;
}

#intro #intro-desc .intro-desc-item {
  border-left: 3px solid #83EEFF;
  padding-left: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

#intro #intro-desc .intro-desc-item h1, #intro #intro-desc .intro-desc-item h2 {
  position: relative;
  padding: 0.2em;
}

#intro #intro-desc .intro-desc-item h1::before, #intro #intro-desc .intro-desc-item h2::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#intro #intro-desc .intro-desc-item h1::after, #intro #intro-desc .intro-desc-item h2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFFAFA;
  -webkit-animation: reveal 1.5s 100ms forwards;
          animation: reveal 1.5s 100ms forwards;
}

#intro #intro-desc .intro-desc-item p {
  padding: 0.45em;
  position: relative;
  font-family: 'Jura', Arial, sans-serif;
  font-size: 1.5rem;
}

#intro #intro-desc .intro-desc-item p.intro-desc-title::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#intro #intro-desc .intro-desc-item p.intro-desc-title::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFFAFA;
  -webkit-animation: reveal 1.5s 1.5s forwards;
          animation: reveal 1.5s 1.5s forwards;
}

#intro #incentive {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 10%;
}

#intro #incentive a {
  text-decoration: none;
}

#intro #incentive a .arrow {
  width: 3rem;
  height: 3rem;
  border-right: 2px solid #83EEFF;
  border-bottom: 2px solid #83EEFF;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#intro #incentive a .arrow::before {
  width: 1.5rem;
  height: 1.5rem;
  border-right: 1px solid #83EEFF;
  border-bottom: 1px solid #83EEFF;
  content: '';
  position: absolute;
  right: 25%;
  bottom: 25%;
  -webkit-animation: goDown 2s 3s infinite;
          animation: goDown 2s 3s infinite;
}

#services {
  padding: 3rem 0 4.5rem;
}

#services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

#services .wrapper .services-part {
  text-align: center;
  background: rgba(128, 128, 128, 0.1);
  border-left: 3px solid #FFFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#services .wrapper .services-part i {
  font-size: 2.5rem;
  padding: 1.2rem;
  -webkit-box-shadow: 3px 3px 3px #000;
          box-shadow: 3px 3px 3px #000;
  margin: 2rem auto;
}

#services .wrapper .services-part h3 {
  color: #83EEFF;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Jura', Arial, sans-serif;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.4);
}

#services .wrapper .services-part hr {
  margin: 0.6rem auto;
  color: #587291;
  width: 20%;
  -webkit-box-shadow: 0 2px 3px #000;
          box-shadow: 0 2px 3px #000;
}

#services .wrapper .services-part p {
  line-height: 1.4;
  padding: 1.5em;
}

#services .wrapper .services-part:last-of-type i {
  width: calc(5rem+10px);
}

#skills {
  padding: 3rem 0 4.5rem;
  background-image: url("../img/horizontal-shapes-inverted-dimmed.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

#skills .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#skills .wrapper .skills-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10rem;
  height: 7.5rem;
  background: #FFFAFA;
}

#skills .wrapper .skills-part .skill-desc {
  color: black;
  text-align: center;
  margin: 0 auto;
}

#skills .wrapper .skills-part .skill-desc i {
  font-size: 3rem;
  text-align: center;
  margin: 0.3em auto;
  text-shadow: 2px 2px 2px rgba(131, 238, 255, 0.4);
}

#skills .wrapper .skills-part .skill-desc h3 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Jura', Arial, sans-serif;
  padding: 0.5em;
}

#skills .wrapper .skills-part .skill-bar-out {
  height: 100%;
  width: 30%;
  background: #1D1D1F;
  position: relative;
}

#skills .wrapper .skills-part .skill-bar-out .skill-bar-in {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #83EEFF;
  -webkit-animation: swoosh 1.5s ease-in-out infinite;
          animation: swoosh 1.5s ease-in-out infinite;
}

#skills .wrapper .skills-part .skill-bar-out .skill-bar-in p {
  position: absolute;
  color: black;
  bottom: 0.1em;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-family: 'Jura', Arial, sans-serif;
}

#skills .wrapper .skills-part:nth-of-type(6n+1) .skill-bar-out .skill-bar-in {
  height: 100%;
}

#skills .wrapper .skills-part:nth-of-type(6n+2) .skill-bar-out .skill-bar-in {
  height: 95%;
}

#skills .wrapper .skills-part:nth-of-type(6n+3) .skill-bar-out .skill-bar-in {
  height: 70%;
}

#skills .wrapper .skills-part:nth-of-type(6n+4) .skill-bar-out .skill-bar-in {
  height: 50%;
}

#skills .wrapper .skills-part:nth-of-type(6n+5) .skill-bar-out .skill-bar-in {
  height: 75%;
}

#skills .wrapper .skills-part:nth-of-type(6n+6) .skill-bar-out .skill-bar-in {
  height: 80%;
}

#projects {
  padding: 3rem 0 4.5rem;
}

#projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}

#projects .wrapper .projects-part {
  position: relative;
}

#projects .wrapper .projects-part img {
  display: block;
  width: 100%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#projects .wrapper .projects-part .project-desc {
  position: absolute;
  opacity: 1;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  border-left: 3px solid #FFFAFA;
  padding: 0.5em;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#projects .wrapper .projects-part .project-desc h3 {
  margin-bottom: 0.3em;
  font-family: 'Jura', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #83EEFF;
  padding: 0.25em;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.4);
}

#projects .wrapper .projects-part .project-btn {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#projects .wrapper .projects-part .project-btn a {
  text-transform: uppercase;
  text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.7), 0 0 0.4em rgba(255, 255, 255, 0.5);
  font-family: 'Jura', Arial, sans-serif;
  font-weight: 700;
  color: #83EEFF;
  border: 3px solid #83EEFF;
  padding: 0.75em 1.5em;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.7), 0 0 0.4em rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 0.5em 0 #83EEFF, inset 0 0 0.5em 0 #83EEFF;
          box-shadow: 0 0 0.5em 0 #83EEFF, inset 0 0 0.5em 0 #83EEFF;
  text-decoration: none;
}

#projects .wrapper .projects-part .project-btn a:hover {
  text-shadow: 0 0 0.6em rgba(255, 255, 255, 0.8), 0 0 0.7em rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 0.8em 0.1em #83EEFF, inset 0 0 0.8em 0.1em #83EEFF;
          box-shadow: 0 0 0.8em 0.1em #83EEFF, inset 0 0 0.8em 0.1em #83EEFF;
}

#projects .wrapper .projects-part:hover img {
  -webkit-filter: grayscale(80%) brightness(20%);
          filter: grayscale(80%) brightness(20%);
}

#projects .wrapper .projects-part:hover .project-desc {
  opacity: 0;
}

#projects .wrapper .projects-part:hover .project-btn {
  opacity: 1;
}

#projects .wrapper .projects-part:last-of-type .project-btn a {
  pointer-events: none;
}

#about-me {
  padding: 3rem 0 4.5rem;
  background-image: url("../img/vertical-minimalist-inverted.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#about-me .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about-me .wrapper .about-me-part {
  border-left: 3px solid #FFFAFA;
}

#about-me .wrapper .about-me-part figure {
  position: relative;
}

#about-me .wrapper .about-me-part figure img {
  width: 100%;
  display: block;
}

#about-me .wrapper .about-me-part figure figcaption {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Jura', Arial, sans-serif;
  font-weight: 700;
  color: #83EEFF;
  padding: 0.25em;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: 0;
}

#contact {
  padding: 3rem 0 4.5rem;
}

#contact .wrapper #contact-form {
  width: 70%;
  margin: 0 auto;
}

#contact .wrapper #contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

#contact .wrapper #contact-form form .form-part {
  width: 42%;
}

#contact .wrapper #contact-form form .form-part label {
  color: #FFFAFA;
  font-family: 'Jura', Arial, sans-serif;
  font-size: 1.1rem;
}

#contact .wrapper #contact-form form .form-part hr {
  color: #587291;
  width: 2.5rem;
  -webkit-box-shadow: 0 1px 2px #000;
          box-shadow: 0 1px 2px #000;
  margin-top: 0.3rem;
}

#contact .wrapper #contact-form form .form-part input {
  width: 100%;
  color: #FFFAFA;
  border: none;
  border-left: 1px solid #83EEFF;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  font-size: 1rem;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

#contact .wrapper #contact-form form .form-part input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form .form-part input:-ms-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form .form-part input::-ms-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form .form-part input::placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form .form-part input:focus {
  border-left: 3px solid #83EEFF;
  outline: none;
  -webkit-box-shadow: rgba(255, 250, 250, 0.1) 0 0.3rem 1rem, rgba(255, 250, 250, 0.1) 0 -0.3rem 1rem;
          box-shadow: rgba(255, 250, 250, 0.1) 0 0.3rem 1rem, rgba(255, 250, 250, 0.1) 0 -0.3rem 1rem;
}

#contact .wrapper #contact-form form textarea {
  width: 100%;
  color: #FFFAFA;
  border: none;
  border-left: 1px solid #83EEFF;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  resize: none;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#contact .wrapper #contact-form form textarea::-webkit-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form textarea:-ms-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form textarea::-ms-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form textarea::placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form textarea:focus {
  outline: none;
  border-left: 3px solid #83EEFF;
  -webkit-box-shadow: rgba(255, 250, 250, 0.1) 0 0.3rem 1rem, rgba(255, 250, 250, 0.1) 0 -0.3rem 1rem;
          box-shadow: rgba(255, 250, 250, 0.1) 0 0.3rem 1rem, rgba(255, 250, 250, 0.1) 0 -0.3rem 1rem;
}

#contact .wrapper #contact-form form input#btn {
  text-transform: uppercase;
  text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.7), 0 0 0.4em rgba(255, 255, 255, 0.5);
  font-family: 'Jura', Arial, sans-serif;
  font-weight: 700;
  color: #83EEFF;
  border: 3px solid #83EEFF;
  padding: 0.75em 1.5em;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.7), 0 0 0.4em rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 0.5em 0 #83EEFF, inset 0 0 0.5em 0 #83EEFF;
          box-shadow: 0 0 0.5em 0 #83EEFF, inset 0 0 0.5em 0 #83EEFF;
  margin: 0 auto;
}

#contact .wrapper #contact-form form input#btn:hover {
  text-shadow: 0 0 0.6em rgba(255, 255, 255, 0.8), 0 0 0.7em rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 0.8em 0.1em #83EEFF, inset 0 0 0.8em 0.1em #83EEFF;
          box-shadow: 0 0 0.8em 0.1em #83EEFF, inset 0 0 0.8em 0.1em #83EEFF;
}

#contact .wrapper #contact-form form input#btn:hover {
  cursor: pointer;
}

/* _*-*_ FOOTER _*-*_ */
/*# sourceMappingURL=style.css.map */