/* _*-*_ GLOBAL _*-*_ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* _-_ VARIABLES _-_ */
/* _-_ ANIMATIONS _-_ */
@-webkit-keyframes reveal {
  to {
    left: 100%;
  }
}
@keyframes reveal {
  to {
    left: 100%;
  }
}

@-webkit-keyframes swoosh {
  0%, 100% {
    -webkit-clip-path: polygon(100% 0, 81% 3%, 62% 4%, 40% 2%, 19% 1%, 0 2%, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 81% 3%, 62% 4%, 40% 2%, 19% 1%, 0 2%, 0 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 2%, 81% 1%, 60% 2%, 38% 4%, 19% 3%, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 2%, 81% 1%, 60% 2%, 38% 4%, 19% 3%, 0 0, 0 100%, 100% 100%);
  }
}

@keyframes swoosh {
  0%, 100% {
    -webkit-clip-path: polygon(100% 0, 81% 3%, 62% 4%, 40% 2%, 19% 1%, 0 2%, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 81% 3%, 62% 4%, 40% 2%, 19% 1%, 0 2%, 0 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 2%, 81% 1%, 60% 2%, 38% 4%, 19% 3%, 0 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 2%, 81% 1%, 60% 2%, 38% 4%, 19% 3%, 0 0, 0 100%, 100% 100%);
  }
}

@-webkit-keyframes goDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
  }
}

@keyframes goDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
  }
}

html {
  scroll-behavior: smooth;
}

html body {
  line-height: 1;
  background: #1D1D1F;
  color: #FFFAFA;
}

h1 {
  font-family: 'Jura', Arial, sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
}

h2 {
  font-family: 'Jura', Arial, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  width: 20%;
  margin: 0 auto 2.5em;
  padding: 0.4em;
  border-right: 3px solid #FFFAFA;
  background: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

h2 span {
  color: #83EEFF;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5);
  font-family: 'Jura', Arial, sans-serif;
}

hr {
  color: #587291;
  width: 2.5rem;
  -webkit-box-shadow: 0 1px 2px #000;
          box-shadow: 0 1px 2px #000;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* _*-*_ HEADER _*-*_ */
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
}

header nav ul {
  list-style-type: none;
  text-align: right;
  margin: 1.2rem auto;
}

header nav ul li {
  display: block;
}

header nav ul li a {
  text-decoration: none;
  color: #FFFAFA;
  display: block;
  padding: 0.3em;
  font-size: 1.2rem;
  font-family: 'Jura', Arial, sans-serif;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  margin: 0 0.2em;
}

header nav ul li:hover {
  text-shadow: 0 0 0.5em rgba(131, 238, 255, 0.6), 0 0 0.5em rgba(131, 238, 255, 0.5);
}

header nav .vr {
  border-right: 2px solid #83EEFF;
  height: 25%;
  width: 100%;
  position: relative;
  right: 50%;
}

/* _*-*_ MAIN _*-*_ */
#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

#intro #logo {
  position: absolute;
  width: 100%;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

#intro #logo a img {
  width: 6rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#intro #logo a img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#intro video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}

#intro #intro-desc {
  position: absolute;
  top: 25%;
  left: 16%;
}

#intro #intro-desc .intro-desc-item {
  border-left: 3px solid #83EEFF;
  padding-left: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

#intro #intro-desc .intro-desc-item h1 {
  position: relative;
  padding: 0.2em;
}

#intro #intro-desc .intro-desc-item h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#intro #intro-desc .intro-desc-item h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFFAFA;
  -webkit-animation: reveal 1.5s 100ms forwards;
          animation: reveal 1.5s 100ms forwards;
}

#intro #intro-desc .intro-desc-item p {
  padding: 0.45em;
  position: relative;
  font-family: 'Jura', Arial, sans-serif;
  font-size: 1.5rem;
}

#intro #intro-desc .intro-desc-item p.intro-desc-title::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#intro #intro-desc .intro-desc-item p.intro-desc-title::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFFAFA;
  -webkit-animation: reveal 1.5s 1.5s forwards;
          animation: reveal 1.5s 1.5s forwards;
}

#intro #incentive {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 10%;
}

#intro #incentive a {
  text-decoration: none;
}

#intro #incentive a .arrow {
  width: 3rem;
  height: 3rem;
  border-right: 2px solid #83EEFF;
  border-bottom: 2px solid #83EEFF;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#intro #incentive a .arrow::before {
  width: 1.5rem;
  height: 1.5rem;
  border-right: 1px solid #83EEFF;
  border-bottom: 1px solid #83EEFF;
  content: '';
  position: absolute;
  right: 25%;
  bottom: 25%;
  -webkit-animation: goDown 2s 3s infinite;
          animation: goDown 2s 3s infinite;
}

#services {
  padding: 3rem 0 4.5rem;
}

#services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.8rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#services .wrapper .services-part {
  text-align: center;
  background: rgba(128, 128, 128, 0.1);
  border-left: 3px solid #FFFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 24%;
}

#services .wrapper .services-part i {
  font-size: 2.5rem;
  padding: 1.2rem;
  -webkit-box-shadow: 3px 3px 3px #000;
          box-shadow: 3px 3px 3px #000;
  margin: 2rem auto;
}

#services .wrapper .services-part h3 {
  color: #83EEFF;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Jura', Arial, sans-serif;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.4);
}

#services .wrapper .services-part hr {
  margin: 0.6rem auto;
}

#services .wrapper .services-part p {
  line-height: 1.4;
  padding: 1.5em;
}

#services .wrapper .services-part:last-of-type i {
  width: calc(5rem+10px);
}

#skills {
  padding: 3rem 0 4.5rem;
  background: #2b2b2e;
  width: 100%;
}

#skills .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
}

#skills .wrapper .skills-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 13%;
  height: 7.5rem;
  background: #FFFAFA;
}

#skills .wrapper .skills-part .skill-desc {
  color: #000;
  text-align: center;
  margin: 0 auto;
}

#skills .wrapper .skills-part .skill-desc i {
  font-size: 3rem;
  text-align: center;
  margin: 0.3em auto;
  text-shadow: 2px 2px 2px rgba(131, 238, 255, 0.4);
}

#skills .wrapper .skills-part .skill-desc h3 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Jura', Arial, sans-serif;
  padding: 0.5em;
}

#skills .wrapper .skills-part .skill-bar-out {
  height: 100%;
  width: 30%;
  background: #1D1D1F;
  position: relative;
  border-left: 1px solid #1D1D1F;
}

#skills .wrapper .skills-part .skill-bar-out .skill-bar-in {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #83EEFF;
  -webkit-animation: swoosh 1.5s ease-in-out infinite;
          animation: swoosh 1.5s ease-in-out infinite;
}

#skills .wrapper .skills-part .skill-bar-out .skill-bar-in p {
  position: absolute;
  color: black;
  bottom: 0.1em;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-family: 'Jura', Arial, sans-serif;
}

#skills .wrapper .skills-part:nth-of-type(6n+1) .skill-bar-out .skill-bar-in {
  height: 100%;
}

#skills .wrapper .skills-part:nth-of-type(6n+2) .skill-bar-out .skill-bar-in {
  height: 95%;
}

#skills .wrapper .skills-part:nth-of-type(6n+3) .skill-bar-out .skill-bar-in {
  height: 70%;
}

#skills .wrapper .skills-part:nth-of-type(6n+4) .skill-bar-out .skill-bar-in {
  height: 50%;
}

#skills .wrapper .skills-part:nth-of-type(6n+5) .skill-bar-out .skill-bar-in {
  height: 75%;
}

#skills .wrapper .skills-part:nth-of-type(6n+6) .skill-bar-out .skill-bar-in {
  height: 80%;
}

#projects {
  padding: 3rem 0 4.5rem;
}

#projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

#projects .wrapper .projects-part {
  position: relative;
  width: 32%;
}

#projects .wrapper .projects-part img {
  display: block;
  width: 100%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#projects .wrapper .projects-part .project-desc {
  position: absolute;
  opacity: 1;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  border-left: 3px solid #FFFAFA;
  padding: 0.5em;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#projects .wrapper .projects-part .project-desc h3 {
  margin-bottom: 0.3em;
  font-family: 'Jura', Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #83EEFF;
  padding: 0.25em;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.4);
}

#projects .wrapper .projects-part .project-desc p {
  font-size: 1rem;
}

#projects .wrapper .projects-part .project-desc p span {
  color: #83EEFF;
}

#projects .wrapper .projects-part .project-btn {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#projects .wrapper .projects-part .project-btn a {
  text-transform: uppercase;
  text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.7), 0 0 0.4em rgba(255, 255, 255, 0.5);
  font-family: 'Jura', Arial, sans-serif;
  font-weight: 700;
  color: #83EEFF;
  border: 3px solid #83EEFF;
  padding: 0.75em 1.5em;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.7), 0 0 0.4em rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 0.5em 0 #83EEFF, inset 0 0 0.5em 0 #83EEFF;
          box-shadow: 0 0 0.5em 0 #83EEFF, inset 0 0 0.5em 0 #83EEFF;
  text-decoration: none;
}

#projects .wrapper .projects-part .project-btn a:hover {
  text-shadow: 0 0 0.6em rgba(255, 255, 255, 0.8), 0 0 0.7em rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 0.8em 0.1em #83EEFF, inset 0 0 0.8em 0.1em #83EEFF;
          box-shadow: 0 0 0.8em 0.1em #83EEFF, inset 0 0 0.8em 0.1em #83EEFF;
}

#projects .wrapper .projects-part:hover img {
  -webkit-filter: grayscale(80%) brightness(20%);
          filter: grayscale(80%) brightness(20%);
}

#projects .wrapper .projects-part:hover .project-desc {
  opacity: 0;
}

#projects .wrapper .projects-part:hover .project-btn {
  opacity: 1;
}

#projects .wrapper .projects-part:last-of-type .project-btn a {
  pointer-events: none;
}

#about-me {
  padding: 3rem 0 4.5rem;
  background: #2b2b2e;
}

#about-me .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6rem;
}

#about-me .wrapper #about-me-l-part #about-me-img {
  position: relative;
}

#about-me .wrapper #about-me-l-part #about-me-img img {
  display: block;
  width: 100%;
}

#about-me .wrapper #about-me-l-part #about-me-img #socials {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

#about-me .wrapper #about-me-l-part #about-me-img #socials i {
  font-size: 1.8rem;
  padding: 0.2em;
  color: #FFFAFA;
  margin: 0.2em 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  text-shadow: 0 0 0.2em rgba(131, 238, 255, 0.3), 0 0 0.3em rgba(131, 238, 255, 0.4);
}

#about-me .wrapper #about-me-l-part #about-me-img #socials i:hover {
  text-shadow: 0 0 0.4em rgba(131, 238, 255, 0.5), 0 0 0.5em rgba(131, 238, 255, 0.6);
  font-size: 2.2rem;
}

#about-me .wrapper #about-me-r-part {
  width: 50%;
}

#about-me .wrapper #about-me-r-part h3 {
  color: #83EEFF;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Jura', Arial, sans-serif;
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.4);
}

#about-me .wrapper #about-me-r-part hr {
  margin: 0.3rem 0 1rem;
}

#about-me .wrapper #about-me-r-part .info-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-me .wrapper #about-me-r-part .info-desc .info-desc-l {
  width: 8rem;
}

#about-me .wrapper #about-me-r-part .info-desc .info-desc-l p {
  margin: 0.3em 0;
  font-size: 1.2rem;
  font-family: 'Jura', Arial, sans-serif;
  padding: 0.5em 0;
  color: rgba(255, 250, 250, 0.8);
}

#about-me .wrapper #about-me-r-part .info-desc .info-desc-r p {
  margin: 0.3em 0;
  font-family: 'Jura', Arial, sans-serif;
  font-size: 1.2rem;
  padding: 0.5em;
  background: #000;
  border-left: 1px solid #FFFAFA;
}

#contact {
  padding: 3rem 0 4.5rem;
}

#contact .wrapper #contact-form {
  width: 70%;
  margin: 0 auto;
}

#contact .wrapper #contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 5rem;
}

#contact .wrapper #contact-form form .form-part {
  width: 45%;
}

#contact .wrapper #contact-form form .form-part label {
  color: #FFFAFA;
  font-family: 'Jura', Arial, sans-serif;
  font-size: 1.1rem;
}

#contact .wrapper #contact-form form .form-part hr {
  margin-top: 0.3rem;
}

#contact .wrapper #contact-form form .form-part input {
  width: 100%;
  color: #FFFAFA;
  border: none;
  border-left: 1px solid #83EEFF;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  font-size: 1rem;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

#contact .wrapper #contact-form form .form-part input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form .form-part input:-ms-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form .form-part input::-ms-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form .form-part input::placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form .form-part input:focus {
  border-left: 3px solid #83EEFF;
  outline: none;
  -webkit-box-shadow: rgba(255, 250, 250, 0.1) 0 0.3rem 1rem, rgba(255, 250, 250, 0.1) 0 -0.3rem 1rem;
          box-shadow: rgba(255, 250, 250, 0.1) 0 0.3rem 1rem, rgba(255, 250, 250, 0.1) 0 -0.3rem 1rem;
}

#contact .wrapper #contact-form form textarea {
  width: 100%;
  color: #FFFAFA;
  border: none;
  border-left: 1px solid #83EEFF;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  resize: none;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

#contact .wrapper #contact-form form textarea::-webkit-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form textarea:-ms-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form textarea::-ms-input-placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form textarea::placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

#contact .wrapper #contact-form form textarea:focus {
  outline: none;
  border-left: 3px solid #83EEFF;
  -webkit-box-shadow: rgba(255, 250, 250, 0.1) 0 0.3rem 1rem, rgba(255, 250, 250, 0.1) 0 -0.3rem 1rem;
          box-shadow: rgba(255, 250, 250, 0.1) 0 0.3rem 1rem, rgba(255, 250, 250, 0.1) 0 -0.3rem 1rem;
}

#contact .wrapper #contact-form form input#btn {
  text-transform: uppercase;
  text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.7), 0 0 0.4em rgba(255, 255, 255, 0.5);
  font-family: 'Jura', Arial, sans-serif;
  font-weight: 700;
  color: #83EEFF;
  border: 3px solid #83EEFF;
  padding: 0.75em 1.5em;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.7), 0 0 0.4em rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 0.5em 0 #83EEFF, inset 0 0 0.5em 0 #83EEFF;
          box-shadow: 0 0 0.5em 0 #83EEFF, inset 0 0 0.5em 0 #83EEFF;
  margin: 0 auto;
}

#contact .wrapper #contact-form form input#btn:hover {
  text-shadow: 0 0 0.6em rgba(255, 255, 255, 0.8), 0 0 0.7em rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 0.8em 0.1em #83EEFF, inset 0 0 0.8em 0.1em #83EEFF;
          box-shadow: 0 0 0.8em 0.1em #83EEFF, inset 0 0 0.8em 0.1em #83EEFF;
}

#contact .wrapper #contact-form form input#btn:hover {
  cursor: pointer;
}

/* _*-*_ FOOTER _*-*_ */
footer {
  width: 100%;
  height: 7rem;
  padding: 1rem 0;
  background: #000;
  -webkit-clip-path: polygon(0% 30%, 50% 0%, 100% 30%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 30%, 50% 0%, 100% 30%, 100% 100%, 0% 100%);
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

footer .wrapper #necessary {
  text-align: center;
}

footer .wrapper #necessary a {
  text-decoration: none;
  color: #FFFAFA;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

footer .wrapper #necessary a i {
  font-size: 2rem;
  padding: 0.2em;
}

footer .wrapper #necessary a:hover {
  text-shadow: 0 0 0.4em rgba(131, 238, 255, 0.6), 0 0 0.3em rgba(131, 238, 255, 0.5);
}

footer .wrapper #copyright {
  color: white;
  text-align: center;
  padding: 0.2em;
}

/***********************************************************/
/* _*-*_ RESPONSIVE _*-*_ */
@media screen and (max-width: 1439px) {
  h2 {
    font-size: 1.6rem;
    width: 24%;
    margin-bottom: 2rem;
  }
  #services, #skills, #projects, #about-me, #contact {
    padding: 2rem 0 3.5rem;
  }
  header nav ul li a {
    padding: 0.3em;
    font-size: 1rem;
  }
  #intro #logo a img {
    width: 4.5rem;
  }
  #intro #intro-desc .intro-desc-item h1 {
    font-size: 3.5rem;
  }
  #intro #intro-desc .intro-desc-item p {
    font-size: 1.2rem;
  }
  #intro #incentive a .arrow {
    width: 2.5rem;
    height: 2.5rem;
    border-right: 2px solid #83EEFF;
    border-bottom: 2px solid #83EEFF;
  }
  #intro #incentive a .arrow::before {
    width: 1.2rem;
    height: 1.2rem;
    border-right: 1px solid #83EEFF;
    border-bottom: 1px solid #83EEFF;
  }
  #services .wrapper {
    gap: 1.5rem;
  }
  #services .wrapper .services-part {
    width: 48%;
  }
  #services .wrapper .services-part i {
    margin: 1.2rem auto;
    font-size: 2rem;
  }
  #services .wrapper .services-part h3 {
    size: 1.2rem;
  }
  #services .wrapper .services-part p {
    padding: 1rem;
    line-height: 1.3;
    font-size: 0.9rem;
  }
  #skills .wrapper {
    gap: 2rem 4rem;
  }
  #skills .wrapper .skills-part {
    width: 24%;
    height: 7rem;
  }
  #skills .wrapper .skills-part .skill-desc i {
    font-size: 2.5rem;
    margin: 0.3em auto;
  }
  #projects .wrapper {
    gap: 0.8rem;
  }
  #projects .wrapper .projects-part {
    width: 32%;
  }
  #projects .wrapper .projects-part .project-desc h3 {
    margin-bottom: 0.2em;
    font-size: 1.2rem;
    padding: 0.2em;
  }
  #projects .wrapper .projects-part .project-desc p {
    font-size: 0.8rem;
  }
  #projects .wrapper .projects-part .project-btn a {
    font-size: 0.8rem;
    text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.6), 0 0 0.4em rgba(255, 255, 255, 0.4);
    padding: 0.3em 1.2em;
    -webkit-box-shadow: 0 0 0.4em 0 #83EEFF, inset 0 0 0.4em 0 #83EEFF;
            box-shadow: 0 0 0.4em 0 #83EEFF, inset 0 0 0.4em 0 #83EEFF;
  }
  #projects .wrapper .projects-part .project-btn a:hover {
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.7), 0 0 0.4em rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 0.7em 0.1em #83EEFF, inset 0 0 0.7em 0.1em #83EEFF;
            box-shadow: 0 0 0.7em 0.1em #83EEFF, inset 0 0 0.7em 0.1em #83EEFF;
  }
  #about-me .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
  #about-me .wrapper #about-me-l-part #about-me-img {
    width: 80%;
    margin: 0 auto;
  }
  #about-me .wrapper #about-me-l-part #about-me-img #socials i {
    font-size: 1.5rem;
    margin: 0.1em 0;
  }
  #about-me .wrapper #about-me-l-part #about-me-img #socials i:hover {
    font-size: 1.9rem;
  }
  #about-me .wrapper #about-me-r-part {
    width: 60%;
  }
  #about-me .wrapper #about-me-r-part h3 {
    margin-top: 1.8rem;
    font-size: 1.3rem;
  }
  #about-me .wrapper #about-me-r-part hr {
    width: 2.2rem;
  }
  #about-me .wrapper #about-me-r-part .info-desc .info-desc-l {
    width: 7rem;
  }
  #about-me .wrapper #about-me-r-part .info-desc .info-desc-l p {
    margin: 0.2em 0;
    font-size: 1rem;
    padding: 0.3em 0;
  }
  #about-me .wrapper #about-me-r-part .info-desc .info-desc-r p {
    margin: 0.2em 0;
    font-size: 1rem;
    padding: 0.3em;
  }
  #contact .wrapper #contact-form {
    width: 80%;
  }
  #contact .wrapper #contact-form form {
    gap: 1.5rem 3rem;
  }
  #contact .wrapper #contact-form form .form-part {
    width: 46%;
  }
  #contact .wrapper #contact-form form .form-part label {
    font-size: 1rem;
  }
  #contact .wrapper #contact-form form .form-part input {
    padding: 0.4rem;
    margin-top: 0.8rem;
    font-size: 0.9rem;
  }
  #contact .wrapper #contact-form form .form-part input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form .form-part input:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form .form-part input::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form .form-part input::placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form textarea::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form textarea:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form textarea::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form textarea::placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form input#btn {
    font-size: 0.8rem;
    text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.6), 0 0 0.4em rgba(255, 255, 255, 0.4);
    padding: 0.3em 1.2em;
    -webkit-box-shadow: 0 0 0.4em 0 #83EEFF, inset 0 0 0.4em 0 #83EEFF;
            box-shadow: 0 0 0.4em 0 #83EEFF, inset 0 0 0.4em 0 #83EEFF;
  }
  #contact .wrapper #contact-form form input#btn:hover {
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.7), 0 0 0.4em rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 0.7em 0.1em #83EEFF, inset 0 0 0.7em 0.1em #83EEFF;
            box-shadow: 0 0 0.7em 0.1em #83EEFF, inset 0 0 0.7em 0.1em #83EEFF;
  }
}

@media screen and (max-width: 1023px) {
  h2 {
    font-size: 1.2rem;
    width: 26%;
    margin-bottom: 1.8rem;
  }
  header nav {
    display: none;
  }
  #intro #logo a img {
    width: 4rem;
  }
  #intro #intro-desc .intro-desc-item h1 {
    font-size: 3rem;
  }
  #intro #intro-desc .intro-desc-item p {
    font-size: 1rem;
  }
  #intro #incentive a .arrow {
    width: 2.2rem;
    height: 2.2rem;
    border-right: 2px solid #83EEFF;
    border-bottom: 2px solid #83EEFF;
  }
  #intro #incentive a .arrow::before {
    width: 1rem;
    height: 1rem;
    border-right: 1px solid #83EEFF;
    border-bottom: 1px solid #83EEFF;
  }
  #services .wrapper {
    gap: 1rem;
  }
  #services .wrapper .services-part {
    width: 48%;
  }
  #services .wrapper .services-part i {
    padding: 1rem;
    margin: 1rem auto;
    font-size: 1.5rem;
  }
  #services .wrapper .services-part h3 {
    font-size: 1.2rem;
  }
  #services .wrapper .services-part p {
    padding: 1rem;
    line-height: 1.2;
    font-size: 0.8rem;
  }
  #skills .wrapper {
    gap: 1.5rem 4rem;
  }
  #skills .wrapper .skills-part {
    width: 24%;
    height: 6rem;
  }
  #skills .wrapper .skills-part .skill-desc i {
    font-size: 2rem;
    margin: 0.4em auto;
  }
  #skills .wrapper .skills-part .skill-desc h3 {
    font-size: 1rem;
    padding: 0.3em;
  }
  #projects .wrapper {
    gap: 1rem;
  }
  #projects .wrapper .projects-part {
    width: 60%;
    margin: 0 auto;
  }
  #projects .wrapper .projects-part .project-desc h3 {
    margin-bottom: 0.2em;
    font-size: 1.1rem;
    padding: 0.1em;
  }
  #projects .wrapper .projects-part .project-desc p {
    font-size: 0.8rem;
  }
  #about-me .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about-me .wrapper #about-me-l-part {
    width: 35%;
  }
  #about-me .wrapper #about-me-l-part #about-me-img {
    width: 70%;
    margin: 0 auto;
  }
  #about-me .wrapper #about-me-l-part #about-me-img #socials i {
    font-size: 1rem;
    margin: 0.1em 0;
  }
  #about-me .wrapper #about-me-l-part #about-me-img #socials i:hover {
    font-size: 1.4rem;
  }
  #about-me .wrapper #about-me-r-part {
    width: 60%;
  }
  #about-me .wrapper #about-me-r-part h3 {
    margin-top: 1.5rem;
    font-size: 1rem;
  }
  #about-me .wrapper #about-me-r-part hr {
    width: 2rem;
  }
  #about-me .wrapper #about-me-r-part .info-desc .info-desc-l {
    width: 5.5rem;
  }
  #about-me .wrapper #about-me-r-part .info-desc .info-desc-l p {
    margin: 0.2em 0;
    font-size: 0.8rem;
    padding: 0.2em 0;
  }
  #about-me .wrapper #about-me-r-part .info-desc .info-desc-r p {
    margin: 0.2em 0;
    font-size: 0.8rem;
    padding: 0.2em;
  }
  #contact .wrapper #contact-form {
    width: 100%;
  }
  #contact .wrapper #contact-form form {
    gap: 1.2rem 2rem;
  }
  #contact .wrapper #contact-form form .form-part {
    width: 46%;
  }
  #contact .wrapper #contact-form form .form-part label {
    font-size: 1rem;
  }
  #contact .wrapper #contact-form form .form-part input {
    padding: 0.3rem;
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }
  #contact .wrapper #contact-form form .form-part input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form .form-part input:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form .form-part input::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form .form-part input::placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form textarea::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form textarea:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form textarea::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form textarea::placeholder {
    font-size: 0.8rem;
  }
  #contact .wrapper #contact-form form input#btn {
    font-size: 0.7rem;
    text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5), 0 0 0.4em rgba(255, 255, 255, 0.3);
    padding: 0.2em 1em;
    -webkit-box-shadow: 0 0 0.3em 0 #83EEFF, inset 0 0 0.3em 0 #83EEFF;
            box-shadow: 0 0 0.3em 0 #83EEFF, inset 0 0 0.3em 0 #83EEFF;
  }
  #contact .wrapper #contact-form form input#btn:hover {
    text-shadow: 0 0 0.4em rgba(255, 255, 255, 0.6), 0 0 0.3em rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 0.6em 0.1em #83EEFF, inset 0 0 0.6em 0.1em #83EEFF;
            box-shadow: 0 0 0.6em 0.1em #83EEFF, inset 0 0 0.6em 0.1em #83EEFF;
  }
  footer .wrapper #necessary a i {
    font-size: 1.8rem;
    padding: 0.2em;
  }
  footer .wrapper #copyright {
    padding: 0.2em;
  }
  footer .wrapper #copyright p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.2rem;
    width: 38%;
    margin-bottom: 1.8rem;
  }
  #services, #skills, #projects, #about-me, #contact {
    padding: 1.5rem 0 2.5rem;
  }
  header nav {
    display: none;
  }
  #intro {
    height: 60vh;
  }
  #intro #logo a img {
    width: 3rem;
  }
  #intro #intro-desc {
    width: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #intro #intro-desc .intro-desc-item {
    padding-left: 1rem;
  }
  #intro #intro-desc .intro-desc-item h1 {
    font-size: 2.5rem;
  }
  #intro #intro-desc .intro-desc-item p {
    font-size: 1rem;
  }
  #intro #incentive a .arrow {
    width: 2rem;
    height: 2rem;
    border-right: 2px solid #83EEFF;
    border-bottom: 2px solid #83EEFF;
  }
  #intro #incentive a .arrow::before {
    width: 0.8rem;
    height: 0.8rem;
    border-right: 1px solid #83EEFF;
    border-bottom: 1px solid #83EEFF;
  }
  #services .wrapper .services-part {
    width: 100%;
    margin: 0 auto;
  }
  #services .wrapper .services-part i {
    padding: 0.8rem;
    margin: 0.5rem auto;
    font-size: 1.2rem;
  }
  #services .wrapper .services-part h3 {
    font-size: 1rem;
  }
  #services .wrapper .services-part p {
    padding: 0.5em;
    line-height: 1.2;
    font-size: 0.7rem;
  }
  #skills .wrapper {
    gap: 1.5rem 1rem;
  }
  #skills .wrapper .skills-part {
    width: 47%;
    height: 5rem;
  }
  #skills .wrapper .skills-part .skill-desc i {
    font-size: 1.8rem;
    margin: 0.4em auto;
  }
  #skills .wrapper .skills-part .skill-desc h3 {
    font-size: 0.9rem;
    padding: 0.3em;
  }
  #skills .wrapper .skills-part .skill-bar-out .skill-bar-in p {
    font-size: 0.9rem;
  }
  #projects .wrapper .projects-part {
    width: 100%;
    margin: 0 auto;
  }
  #projects .wrapper .projects-part .project-desc {
    position: static;
  }
  #projects .wrapper .projects-part .project-desc h3 {
    margin-bottom: 0.2em;
    font-size: 1rem;
    padding: 0.1em;
  }
  #projects .wrapper .projects-part .project-desc p {
    font-size: 0.8rem;
  }
  #projects .wrapper .projects-part .project-btn {
    opacity: 1;
    position: static;
    top: auto;
    left: auto;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects .wrapper .projects-part:hover img {
    -webkit-filter: none;
            filter: none;
  }
  #projects .wrapper .projects-part:hover .project-desc {
    opacity: 1;
  }
  #projects .wrapper .projects-part:hover .project-btn {
    opacity: 1;
  }
  #about-me .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
  #about-me .wrapper #about-me-l-part {
    width: 100%;
  }
  #about-me .wrapper #about-me-l-part #about-me-img {
    width: 50%;
    margin: 0 auto;
  }
  #about-me .wrapper #about-me-l-part #about-me-img #socials i {
    font-size: 1.2rem;
    margin: 0.1em 0.2em;
  }
  #about-me .wrapper #about-me-l-part #about-me-img #socials i:hover {
    font-size: 1.4rem;
  }
  #about-me .wrapper #about-me-r-part {
    width: 100%;
  }
  #about-me .wrapper #about-me-r-part h3 {
    margin-top: 1.5rem;
    font-size: 0.9rem;
  }
  #about-me .wrapper #about-me-r-part hr {
    width: 2rem;
  }
  #about-me .wrapper #about-me-r-part .info-desc .info-desc-l {
    width: 6rem;
  }
  #about-me .wrapper #about-me-r-part .info-desc .info-desc-l p {
    margin: 0.2em 0;
    font-size: 0.8rem;
    padding: 0.2em 0;
  }
  #about-me .wrapper #about-me-r-part .info-desc .info-desc-r p {
    margin: 0.2em 0;
    font-size: 0.8rem;
    padding: 0.2em;
  }
  #contact .wrapper #contact-form {
    width: 100%;
  }
  #contact .wrapper #contact-form form {
    gap: 1rem;
  }
  #contact .wrapper #contact-form form .form-part {
    width: 100%;
  }
  #contact .wrapper #contact-form form .form-part label {
    font-size: 0 9rem;
  }
  #contact .wrapper #contact-form form .form-part input {
    padding: 0.3rem;
    margin-top: 0.6rem;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  #contact .wrapper #contact-form form .form-part input::-webkit-input-placeholder {
    font-size: 0.7rem;
  }
  #contact .wrapper #contact-form form .form-part input:-ms-input-placeholder {
    font-size: 0.7rem;
  }
  #contact .wrapper #contact-form form .form-part input::-ms-input-placeholder {
    font-size: 0.7rem;
  }
  #contact .wrapper #contact-form form .form-part input::placeholder {
    font-size: 0.7rem;
  }
  #contact .wrapper #contact-form form textarea::-webkit-input-placeholder {
    font-size: 0.7rem;
  }
  #contact .wrapper #contact-form form textarea:-ms-input-placeholder {
    font-size: 0.7rem;
  }
  #contact .wrapper #contact-form form textarea::-ms-input-placeholder {
    font-size: 0.7rem;
  }
  #contact .wrapper #contact-form form textarea::placeholder {
    font-size: 0.7rem;
  }
  #contact .wrapper #contact-form form input#btn {
    font-size: 0.7rem;
    text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5), 0 0 0.4em rgba(255, 255, 255, 0.3);
    padding: 0.2em 1em;
    -webkit-box-shadow: 0 0 0.3em 0 #83EEFF, inset 0 0 0.3em 0 #83EEFF;
            box-shadow: 0 0 0.3em 0 #83EEFF, inset 0 0 0.3em 0 #83EEFF;
  }
  #contact .wrapper #contact-form form input#btn:hover {
    text-shadow: 0 0 0.4em rgba(255, 255, 255, 0.6), 0 0 0.3em rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 0.6em 0.1em #83EEFF, inset 0 0 0.6em 0.1em #83EEFF;
            box-shadow: 0 0 0.6em 0.1em #83EEFF, inset 0 0 0.6em 0.1em #83EEFF;
  }
  footer .wrapper #necessary a i {
    font-size: 1.2rem;
    padding: 0.2em;
  }
  footer .wrapper #copyright {
    padding: 0.1em;
  }
  footer .wrapper #copyright p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 424px) {
  h2 {
    font-size: 1.2rem;
    width: 45%;
    margin-bottom: 1.8rem;
  }
  #intro #intro-desc .intro-desc-item h1 {
    font-size: 2.2rem;
  }
  #intro #intro-desc .intro-desc-item p {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */